<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfw0V7d18hV5kuQyBtvRFE1PmflMZ3pmA</string>
	<key>GCM_SENDER_ID</key>
	<string>330151280349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calculatorapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>signin-7ab20</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-7ab20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330151280349:ios:171b89df60ed9e91e9a534</string>
</dict>
</plist>